body{
  font-family: 'Bellefair', 'Georgia';
  font-size: 14px;
  line-height: 1.5;
}
body>*{
  padding: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

p{
  padding: .5em .25em;
}